.btn.disabled {
    opacity: 0.4;
}
.btn-app.dropdown-toggle i {
    display: block;
}
.btn-app.dropdown-toggle span {
    display: inline-block;
}

/* аналог box-solid, не заливающий цветом заголовок */
.box-bordered {
    /* все, кроме top, кторый назначается раньше, и не хочется тут переопределять */
    border-left: 1px solid #00a65a;
    border-right: 1px solid #00a65a;
    border-bottom: 1px solid #00a65a;
}

/* аналог hidden из bootstrap, но показываемый через jquery */
.unshow {
    display: none;
}

/* таблицы */
.table thead tr th {
    border-bottom: 2px #00a65a solid;
}

ul.table li{
    list-style: none;
    padding: 4px;
}
ul.table.bottom-hr > li{
    border-bottom: #d2d6de 1px solid;
}
li ul.table {
    margin-bottom: 0;
}
ul.table.table-striped li:nth-child(even) {
    background-color: #f9f9f9;
}

/* таблица имя-значнеие (например роль-польователи или поле-значение у задачи) */
.table.item-val {
    width: auto;
}
.table.item-val td.item {
    text-align: right;
    font-weight: bold;
}

/* Беджи ролей и проектов */
.sign {
    display: inline;
    padding: .2em .6em .3em;
    border-radius: 3px;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}
.sign.sign-inline {
    font-size: 75%;
}
.sign.sign-project {
    background-color: #00a65a;
}
.sign.sign-global-role {
    background-color: #f39c12;
}
.sign.sign-project-role {
    background-color: #00a65a;
}

/* Пользователь */
.user-item {
    font-size: 1.1em;
    display: inline-block;
}
.user-item.disabled {
    color: #7c7c7c;
}
.user-item .fa-user {
    color: #1b6d85;
}

/* виджет прогресс */
.progress {
    display: inline-block;
    margin: 0;
    text-align:center;
    position:relative;
    border: #d3d3d3 1px solid;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
    font-weight: bold;
}

/* ограничение поля описания в таблицах */
.description-in-list {
    width: 30%;
}

/* табы слева от контента */
.nav-tabs.tabs-left {
    border: none;
    border-right: 1px solid #ddd;
}
.nav-tabs.tabs-left > li {
    float: none;
    margin-bottom: 0;
    margin-right: -1px;
}
.nav-tabs.tabs-left > li > a {
    margin-right: 0;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    text-align: right;
    padding-right: 1em;
}
.nav-tabs.tabs-left > li.active > a {
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.centered {
    text-align: center;
}

/* Форма входа */
.login-box-msg {
    color:#999;
    margin-top: 1.2em;
}
