/* проект в архиве */
.archived {
    background-color: #bbbbbb !important;
    color: #4a4a4a !important;
}

/* блок тайлов  на главной */
.project-tiles .item {
    float: left;
    width: 30em;
    height: 10em;
    margin: 0.5em;
}

/* тайл проекта */
.project-tile .box-title {
    /*font-weight: bold; */
}
.project-tile .task-stat {
    margin-right: 1em;
    float: left;
    display: inline-block;
}
.project-tile .last-tasks {
    float: left;
    display: inline-block;
}
.project-tile .progress {
    width: 10em;
    vertical-align: sub;
}
.project-tile .stat-item {
    margin-bottom: 0.3em;
}
.project-tile .table {
    width: auto;
    margin-left: 1em;
}
.project-tile .table tr {
    text-align: right;
}
.project-tile .table > tbody > tr > td {
    padding: 0 0.5em;
    border-top: 0;
    vertical-align: middle;
}

.project-tile .past {
    color: #7c7c7c;
    text-decoration: line-through;
}
.project-tile .past .progress-bar {
    background-color: #d3d3d3;
    color: #000000;
}
.project-tile .current {
    font-weight: bold;
}


