/* общее */
.btn.disabled {
    opacity: 0.4;
}

.table thead tr th {
    border-bottom: 2px #00a65a solid;
}

ul.table li{
    list-style: none;
    padding: 4px;
}
ul.table.bottom-hr > li{
    border-bottom: #d2d6de 1px solid;
}
li ul.table {
    margin-bottom: 0;
}
ul.table.table-striped li:nth-child(even) {
    background-color: #f9f9f9;
}

/* таблица имя-значнеие (например роль-польователи или поле-значение у задачи) */
.table.item-val {
    width: auto;
}
.table.item-val td.item {
    text-align: right;
    font-weight: bold;
}

/* Беджи ролей и проектов */
.sign {
    display: inline;
    padding: .2em .6em .3em;
    border-radius: 3px;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}
.sign.sign-inline {
    font-size: 75%;
}
.sign.sign-project {
    background-color: #00a65a;
}
.sign.sign-global-role {
    background-color: #f39c12;
}
.sign.sign-project-role {
    background-color: #00a65a;
}

/* Пользователь */
.user-item {

}
.user-item .fa-user {
    color: #1b6d85;
}

/* тайл проекта */
.project-item-block {
    width: 30em;
    height: 10em;
    margin: 0.5em;
}

/* табы слева от контента */
.nav-tabs.tabs-left {
    border: none;
    border-right: 1px solid #ddd;
}
.nav-tabs.tabs-left > li {
    float: none;
    margin-bottom: 0;
    margin-right: -1px;
}
.nav-tabs.tabs-left > li > a {
    margin-right: 0;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    text-align: right;
    padding-right: 1em;
}
.nav-tabs.tabs-left > li.active > a {
    border: 1px solid #ddd;
    border-right-color: transparent;
}

/* Задачи */
.progress-bar-green {
    background-color: #00C170;
}

/* Список задач */
.task_list_caption {
    text-align: center;
}

.priority {
    padding: 0;
    text-align: center;
    font-weight: bold;
}
.priority.unknown {
    background-color: #999999;
}
.priority.critical {
    background-color: #FF0000;
}
.priority.very_high {
    background-color: #FF5C5C;
}
.priority.high {
    background-color: #ff854d;
}
.priority.medium {
    background-color: #FDFD58;
}
.priority.low {
    background-color: #BBFF7A;
}
.priority.very_low {
    background-color: #CCFFCC;
}

.closed .priority.critical {
    background-color: #775151;
}
.closed .priority.very_high {
    background-color: #A38282;
}
.closed .priority.high {
    background-color: #7f3f2b;
}
.closed .priority.medium {
    background-color: #EDEDCC;
}
.closed .priority.low {
    background-color: #D4E2C7;
}
.closed .priority.very_low {
    background-color: #E3EDE3;
}

.task_list table tr>td {
    padding: 7px;
}
.task_list tr>td .progress {
    display: inline-block;
    width: 8em;
    margin: 0;
    text-align:center;
    position:relative;
}
.task_list tr>td .progress-value {
    position:absolute;
    right:0;
    left:0;
    font-weight: bold;
}
.task_list tr.closed {
    text-decoration: line-through;
}



/* Страница задачи */
.task-toolbar {
    margin: 0 1em 1em 1em;
}

.task-view .task-header.closed {
    text-decoration: line-through;
}

.task-dict-block {
    padding-right: 1em;
    border-right: #ddd 1px solid;
    height: 100%;

}

.task-text-block {

}

.task-dict-block .progress {
    display: inline-block;
    width: 20em;
    margin: 0;
    text-align:center;
    color: #000;
    position:relative;
}
.task-dict-block .progress-value {
    position:absolute;
    right:0;
    left:0;
    font-weight: bold;
}

.close-task-dialog {
    width: 30em;
}

/* настройки справочников */
.dict_setting_block {
    width: 50em;
}

.dict_item {
    border: #f4f4f4 1px solid;
    background-color: white;
    opacity: 1;
}

.dict_item_dropping {
    border: red 1px solid;
}

.description-in-list {
    width: 30%;
}
