

.project-item-block {
    width: 30em;
    height: 10em;
    border: grey solid 1px;
    margin: 0.5em;
    padding: 0 1em 1em;
}

.task-dict-block {
    padding-right: 1em;
    border-right: gray 1px solid;
    height: 100%;
}

